<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add new recipe</title>
    </head>
    <body>
        <h2>Add New Recipe</h2>
        <form action="{% url 'recipes:add_new' %}", method="POST">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br>

            <label for="recipe_status_new">New recipe?</label>
            <input type="checkbox" id="recipe_status_new" name="recipe_status_new"><br>

            <label for="prep_time">Prep Time:</label>
            <input type="number" id="prep_time" name="prep_time"><br>
            <label for="cook_time">Cook Time:</label>
            <input type="number" id="cook_time" name="cook_time"><br>

            <label for="website">URL:</label>
            <input type="url" id="website" name="website"><br>
            <!-- try auto fill option -->

            <label for="book">Book Title:</label>
            <input type="text" id="book" name="book"><br>
            <label for="page_number">Page number:</label>
            <input type="number" id="page_number" name="page_number"><br>

            <label for="ingredients">Ingredients:</label><br>
            <textarea id="ingredients" name="ingredients", rows="5" cols="50"></textarea><br>
            <label for="instructions">Instructions:</label><br>
            <textarea id="instructions" name="instructions", rows="5" cols="50"></textarea><br>

            <input type="submit" value="Add">
        </form>
    </body>
</html>