<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add new recipe</title>
    </head>
    <body>
        <h2>Add New Recipe</h2>
        <form action="{% url 'recipes:add_new' %}", method="POST">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"><br>

            <label for="recipe_status_new">New recipe?</label>
            <input type="checkbox" id="recipe_status_new" name="recipe_status_new"><br>

            <label for="time">Time:</label>
            <input type="number" id="time" name="time"><br>
            
            <label for="source">URL or Book title and page:</label>
            <input type="text" id="source" name="source"><br>
            <!-- try auto fill option -->

            <label for="ingredients">Ingredients:</label><br>
            <textarea id="ingredients" name="ingredients", rows="5" cols="50"></textarea><br>
            <label for="instructions">Instructions:</label><br>
            <textarea id="instructions" name="instructions", rows="5" cols="50"></textarea><br>

            <input type="submit" value="Add">
        </form>
    </body>
</html>